# Search tool
TAVILY_API_KEY=

# Model selection: google | openai
model_source=openai

# Google / Gemini option
GOOGLE_API_KEY=
GEMINI_API_KEY=

# OpenAI-compatible option
DASHSCOPE_API_KEY=
OPENAI_API_KEY=
TOOL_LLM_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
TOOL_LLM_NAME=qwen-plus
